@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(155,155,155,0.5);
  border-radius: 100px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100,100,100,0.7);
}

.your-element {
  scrollbar-width: thin;
  scrollbar-color: rgb(155,155,155,0.5);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
